@font-face {
    font-family: '8bit';
    src: url('8bit.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'8bit', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: black;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.logoAlura{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

header, main{
    width: 70%;
    margin: auto;
    transition: .5s;
}

.containerEncoder{
    position: relative;
    width: 100%;
    max-width: 800px;
    padding-bottom: 15px;
    margin: auto;
    background-color: rgb(120, 120, 120);
    border-radius: 10px;
    
}

.containerEncoder > h1{
    padding-top: 10px;
    text-align: center;
    color: rgba(3, 3, 3, 0.4);
    text-shadow: .3px .7px 0px rgba(121, 121, 121, 0.8);
}

.containerTexto{
    text-align: center;
}

/*Caixa de texto*/
.textoCode, .resultado{
    font-family: '8bit',sans-serif;
    font-size: 0.7em;
    resize: none;
    width: 90%;
    height: 180px;
    padding: 10px;
    margin: 10px auto;
    background-color: rgba(0, 40, 0, 0.8);
    color: rgba(172, 255, 47, 0);
    border: none;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid rgba(5, 36, 5, 0.432);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.textoCode::placeholder{
    color: greenyellow;
}

.textoCode:focus{
    outline: 0;
}

/*Caixa de resultado*/
.resultado{
    text-align: start;
    margin:  10px auto;
}

/*Botoes*/
.containerButtons{
    display: flex;
    width: 400px;
    margin:  10px auto;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgb(120, 120, 120);
    
    
}

button{
    font-family: '8bit';
    font-size: .7em;
    height: 60px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: rgb(100, 100, 100);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.603);
    transition: 0.1s;
    margin: 10px 0px;
}

button:active{
    transform: translate3d(3px, 3px, 0px);
    box-shadow: none;

}
/*Tutorial*/
.tutorialInicial{
    position: absolute;
    background-color:#585858;
    width: 93%;
    top: 25%;
    left: 3%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px black;
}

.tutorialInicial > h1{
    margin-bottom: 10px;
    font-size: 1.3em;
    text-shadow: 0px 0px 5px rgba(201, 201, 201, 0.363);
}

.tutorialInicial > p {
    font-size: 0.7em;
    color: white;
    padding-bottom: 5px;
    margin-top: 25px;
    text-shadow: 0px 0px 5px black;
}

.tutorialInicial > span{
    background-color: rgba(0, 120, 0, 0.8);
    border-radius: 5px;
    color: rgb(153, 255, 0);
    text-shadow: 0px 0px 5px black;
    padding: 5px;
}
.buttonContinue{
    margin-top: 25px;
}

/*Botão Liga desliga*/
.ContainerImgPowerButton{
    display: flex;
    width: 90%;
    align-items: end;
    justify-content: end;
    margin: 10px auto;
}

.imgPowerButton{
    border-radius: 30px;
    background-color: rgb(100, 100, 100);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.300);
    cursor: pointer;
    width: 50px;
}

.imgPowerButton:active{
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.900);
}

/*Animação Classes*/
.telaLigando{
    animation-name: telaLigado;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: rgba(0, 120, 0, 0.8);
    color: rgb(153, 255, 0);
    text-shadow: 1px 1px 5px black;
}

.telaDesligando{
    animation-name: telaDesligando;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: rgba(0, 40, 0, 0.8);
    color: rgba(172, 255, 47, 0);
}

.telaDesligando::placeholder{
    color: rgba(172, 255, 47, 0);
}

.telaErro{
    background-color: rgb(180, 0, 0);
    color: rgb(80, 0, 0);
    font-weight: bold;
    animation-name: telaErro;
    animation-duration: .3s;
    animation-iteration-count: 2;
}

.DestaqueButtonErro{
    animation-name: destaqueButton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.fechaTutorial{
    transition: 3s;
    opacity: 0;
    top: -70%;
}

/*Animaçoes gerais*/
@keyframes telaLigado{
    from {background-color: rgba(0, 40, 0, 0.8);}
    to {background-color: rgba(0, 120, 0, 0.8);}
}

@keyframes telaDesligando{
    from {background-color: rgba(0, 120, 0, 0.8);}
    to {background-color: rgba(0, 40, 0, 0.8);}
}

@keyframes telaErro{
    0%{background-color: rgb(180, 0, 0);}
    50%{background-color: rgb(90, 0, 0);}
    100%{background-color: rgb(180, 0, 0);}
}

@keyframes destaqueButton{
    0% {
        background-color: rgb(100, 100, 100);
        box-shadow: none;
    }
    50% {
        background-color: rgb(231, 231, 231);
        box-shadow: 0px 0px 10px white;
    }
    100% {
        background-color: rgb(100, 100, 100);
        box-shadow: none;
    }
}

@keyframes fechaTelaTutorial{
    to{
        top: -70%;
    }
}

/*MidiaQuery*/

@media (max-width: 600px) {
    header{
        height: 60px;
    }

    header, main, .containerButtons{
        transition: 0.5s;
        width: 100%;
        
    }
    .containerButtons{
        align-items: center;
    }

    .logoAlura{
        display: none;
    }

}

@media (max-width: 390px) {
    header, main, .containerButtons{
        transition: 0.5s;
        width: 100%;
    }

    .containerButtons{
        align-items: center;
    }

    .textoCode , .resultado{
        font-size: .6em;
    }

    .imgPowerButton{
        width: 35px;
    }

    button{
        height: 60px;
        width: 90px;
        font-size: 0.5em;
    }
}
